.shop-div {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	gap: 20px;
	max-width: 1200px;
	padding: 20px;
	height: 33%;
}
	
.clothing-item {
	border: 1px solid #ccc;
	border-radius: 8px;
	overflow: hidden;
	transition: transform 0.3s ease;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
}
	
.clothing-item:hover {
	transform: translateY(-5px);
}
	
.clothing-item img {
	width: 100%;
	height: auto;
}
	
.clothing-item button {
	display: block;
	width: 100%;
	padding: 10px;
	background-color: #007bff;
	color: #fff;
	border: none;
	border-radius: 0 0 8px 8px;
	cursor: pointer;
}
	
.clothing-item button:hover {
	background-color: #0056b3;
}

.clothing-item {
	position: relative; /* Per posizionare correttamente il pulsante */
}

.clothing-item .buy-button {
	position: absolute;
	bottom: -40px; /* Posizione iniziale nascosta sopra il contenitore */
	left: 0;
	width: 100%;
	padding: 10px;
	background-color: #007bff;
	color: #fff;
	border: none;
	border-radius: 0 0 8px 8px;
	cursor: pointer;
	transition: bottom 0.3s ease; /* Aggiungi transizione per l'animazione */
}

.clothing-item:hover .buy-button {
	bottom: 0; /* Visualizza il pulsante al passaggio del mouse */
}
